<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.879874158618-u87t5pk9bdg1iijo0qbi1cmbj39h5s4t</string>
			</array>
		</dict>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>MontserratAlternates-Black.ttf</string>
		<string>MontserratAlternates-BlackItalic.ttf</string>
		<string>MontserratAlternates-Bold.ttf</string>
		<string>MontserratAlternates-BoldItalic.ttf</string>
		<string>MontserratAlternates-ExtraBoldItalic.ttf</string>
		<string>MontserratAlternates-Light.ttf</string>
		<string>MontserratAlternates-ExtraBold.ttf</string>
		<string>MontserratAlternates-MediumItalic.ttf</string>
		<string>MontserratAlternates-ThinItalic.ttf</string>
		<string>MontserratAlternates-ExtraLightItalic.ttf</string>
		<string>MontserratAlternates-Thin.ttf</string>
		<string>MontserratAlternates-Regular.ttf</string>
		<string>MontserratAlternates-SemiBoldItalic.ttf</string>
		<string>MontserratAlternates-Medium.ttf</string>
		<string>MontserratAlternates-SemiBold.ttf</string>
		<string>MontserratAlternates-Italic.ttf</string>
		<string>MontserratAlternates-LightItalic.ttf</string>
		<string>MontserratAlternates-ExtraLight.ttf</string>
		<string>Montserrat-Black.ttf</string>
		<string>Montserrat-BlackItalic.ttf</string>
		<string>Montserrat-Bold.ttf</string>
		<string>Montserrat-BoldItalic.ttf</string>
		<string>Montserrat-ExtraBold.ttf</string>
		<string>Montserrat-ExtraBoldItalic.ttf</string>
		<string>Montserrat-ExtraLight.ttf</string>
		<string>Montserrat-ExtraLightItalic.ttf</string>
		<string>Montserrat-Italic.ttf</string>
		<string>Montserrat-Light.ttf</string>
		<string>Montserrat-LightItalic.ttf</string>
		<string>Montserrat-Medium.ttf</string>
		<string>Montserrat-MediumItalic.ttf</string>
		<string>Montserrat-Regular.ttf</string>
		<string>Montserrat-SemiBold.ttf</string>
		<string>Montserrat-SemiBoldItalic.ttf</string>
		<string>Montserrat-Thin.ttf</string>
		<string>Montserrat-ThinItalic.ttf</string>
	</array>
	<key>GIDClientID</key>
	<string>879874158618-u87t5pk9bdg1iijo0qbi1cmbj39h5s4t.apps.googleusercontent.com</string>
</dict>
</plist>
